button.link1{
    display: flex;
    padding: 10px;
   
    background-color: #006fe6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-size: 16px;
}
button.link1:disabled {
    background-color: grey;
    cursor: default;
}
button.edit-button{
    display: flex;
    padding: 5px;
    background-color: #006fe6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-size: 16px;
}
button.delete-button{
    display: flex;
    padding: 5px;
    background-color: #006fe6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-size: 16px;
}

button.upload-button{
    display: flex;
    padding: 5px;
    background-color: #006fe6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-size: 16px;    
}
button.delete-file-button{
    display: flex;
    padding: 5px;
    background-color: #006fe6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 16px;    
    
    
}