.linkButton {
    display: flex;
    padding: 10px;
    margin-top: 15px;
    background-color: #006fe6;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    justify-content: center;
    font-size: 16px;
  }
  
  .linkButton:hover {
    background-color: #0359b5;
    text-decoration: none;
    color:white;
  }
  
  .textLink {
    color: black;
    text-decoration: none;
    display:flex;
    align-items: center;
    justify-content: center;
    color:blue;
    margin-top:10px;
  }
  
  .textLink:hover {
    text-decoration: none;
    color:purple;
  }