.order-table {
  border-radius: 10px;
  overflow: hidden;
  padding: 10px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  border: 2px solid #ddd;
  padding: 8px;
  text-align: center;
  max-height: 100%;
}

th {
  background-color: #f2f2f2;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}

.order-table td:last-child a {
  margin: 0 5px;
}

.order-table select {
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  padding: 8px;
  font-size: 14px;
}

.order-table td:last-child {
  align-items: center;
  min-height: 100%;
  display:flex;
  justify-content: space-between;
}


