.background-image {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
   
      
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }
      
      .text {
        font-size: 24px;
      }
      
      .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
        box-sizing: border-box;
       
        
      }
   
    
 
      .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-top: 5px;
      }

      .logo-container img{
        height: 100px;
        width: 100px;
        
      }
    
     .login-form{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
        box-sizing: border-box;
        background-color: transparent; /* add this line to make the form more visible */
        border: 1px solid #ccc;
    
  
     }
     .linkButton{
      width:100%;
     }