*{
    padding: 0;
    margin:0
}


.background-image {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}



li{
    display:flex;
    float:left;
    justify-content: center;
    text-align: center;
    

}

ul{
        display:flex;
        justify-content: space-around;
        background-color: whitesmoke;
        padding: 20px;
        border:solid;
        border-width: 1px;
        border-color: gray;
        box-sizing: border-box;
        align-items: center;
        
}
.link1{
    text-decoration: none;
}

a.link1{
    font-size: 24px;
    font-family: 'Lato', sans-serif;
    color: black;
    display:flex;
    margin: 0;
    text-align: center;
 
 
}
a:hover{
    text-decoration: underline;
    color: blue;
}
.pageLogo{
    display:flex;
    max-width: 50px;
    max-height: auto;
    background-size:contain;
    background-position: center;
}



 
  
  .createOrderButton {
    position: absolute;
    top: 120px;
    right: 100px;
  }

  