.background-image {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
}
   
      
      .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
      }
      
      .text {
        font-size: 24px;
      }
      
      .login-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 20px;
        border-radius: 5px;
        box-sizing: border-box;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
      
      form {
        display: flex;
        flex-direction: column;
        padding: 20px;
        border: 1px solid #ccc;
        border-radius: 5px;
      }
 

      .logo-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 30px;
        padding-top: 5px;
      }

      .logo-container img{
        height: 100px;
        width: 100px;
      }
 