.background-image {
    background-image: url('images/background.jpg');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }
  
  body {
    overflow: hidden;
  }
  
  .settings-form {
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
   

  }
  
  .settings-title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  
  .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 1rem;
    width: 100%;
  }
  
  .form-label {
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
  }
  
  .form-input {
    font-size: 1.2rem;
    padding: 0.5rem;
    border: solid 1px #ccc;
    border-radius: 0.25rem;
    width: 100%;
    max-width: 400px;
  }
  
  .form-button {
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 0.25rem;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
  }
  
  .form-button:hover {
    background-color: #0069d9;
  }
  